swagger: '2.0'
info:
  title: COFFEE-ROCKET-SERVICE
  description: A service that provides coffee bean rockets, bean planets, and other things the coffeeverse has to offer.
  version: '1.0'
  termsOfService: 'urn:tos'
  contact: {}
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: svenbayer.blog
schemes:
  - https
  - http
basePath: /coffee-rocket-service/v1.0
paths:
  '/planets/{planet}/asteroids/{asteroidName}/limit/{limit}':
    get:
      description: Retrieve existing bean asteroids from a bean planet.
      produces:
        - '*/*'
      parameters:
        - name: planet
          in: path
          description: bean planet
          required: true
          type: string
          x-example: "Mars"
        - name: asteroidName
          in: path
          description: bean asteroid name
          required: true
          type: string
          x-example: "Apholo"
        - name: limit
          in: path
          description: limit of asteroids
          required: true
          type: number
          x-example: 10
        - name: X-Request-ID
          in: header
          description: X-Request-ID
          required: false
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Test-ResponseType:
              type: string
              x-example: BeanAsteroid
          schema:
            $ref: '#/definitions/BeanAsteroid'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  BeanAsteroid:
    type: object
    properties:
      name:
        type: string
      speed:
        type: integer
      istransparent:
        type: boolean
      aliens:
        type: array
        items:
          $ref: '#/definitions/BeanAliens'
      shape:
        type: string
        enum:
          - 'ROUND'
          - 'SQUARE'
          - 'BEAN'
    title: BeanAsteroids
  BeanAliens:
    type: object
    properties:
      heads:
        type: array
        items:
          type: string
    title: BeanAliens
